/*Limpar formatações padrões*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgb(243, 231, 231);

}

/*Layout*/
#area-cabecalho {
    background-color: white;
    padding: 15px;
    text-align: center;
}

#area-logo,
#area-menu {
    padding: 10px;
}

#area-principal {
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#area-postagens {
    width: 660px;
    float: left;
}

#area-lateral {
    width: 240px;
    float: right;
}

.postagem {
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}

.conteudo-lateral {
    background: white;
    padding: 10px;
    margin-bottom: 20px;
}

#rodape {
    clear: both;
    text-align: center;
    padding: 15px;
    background: #ccc;
}

/*Formatação do Menu*/
a {
    text-decoration: none;
}

a:link,
a:visited {
    color: rgb(53, 53, 211);
}

a:hover {
    text-decoration: underline;
}

#area-cabecalho a:link,
#area-cabecalho a:visited {
    color: black;
    padding: 8px 12px;
}

#area-cabecalho a:hover {
    color: #3213e0;
    background: white;
    text-decoration: none;
}

/*Formatações Gerais*/
h1 {
    color: gray;
    font-size: 2.5em;
}

h2 {
    color: rgb(53, 53, 211);
}

h3 {
    color: rgb(53, 53, 211);
    background: #ccc;
    padding: 5px;
}

.branco {
    color: white;
}

.dataPostagem {
    display: block;
    font-size: 0.8em;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.texto-lateral {
    font-size: 0.8em;
    padding: 5px;
}